.projects {
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects__header {
    font-size: 4rem;
    color: var(--white);
    text-align: center;
    padding-top: 40px;
}

.projects__country {
    position: relative;
    width: 90vw;
    max-width: 1000px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    margin: 50px 0px 60px;
    padding: 35px;
    border: 3px solid var(--white);
}

.country__desc > h2 {
    font-size: 3rem;
    color: var(--white);
}

.country__desc > h4 {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--white);
}

.country__specs {
    position: absolute;
    display: flex;
    bottom: 15px;
    left: 25px;
}

.country__specs > img {
    border-radius: 3px;
}

.country__js {
    width: 35px;
    height: 35px;
    margin-top: 8px;
}

.html {
    width: 50px;
    height: 50px;
    margin-top: 1px;
    margin-left: 2px;
}

.css {
    width: 37px;
    height: 38.5px;
    margin-top: 7px;
}

.answer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.answer__container > img {
    height: 210px;
    max-width: 600px;
    margin-top: 30px;
    filter: invert();
}

.answer__input {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    height: 45px;
    font-size: 1.3rem;
    width: 150px;
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 1px;
    outline: none;
    transition: 200ms ease-in-out;
    color: var(--white);
}

.answer__input:hover {
    background-color: var(--faded-white);
}

.answer__input:focus {
    width: 180px;
}

.answer__skip {
    width: 70px;
    height: 35px;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: var(--faded-white);
    color: var(--white);
    transition: 300ms ease-in-out;
}

.answer__skip:hover {
    background-color: var(--faded-white-hover);
}

.down__anim {
    transform: scale(0.9);
    transition: 0ms;
}

.up__anim {
    transform: scale(1);
    transition: 0ms;
}

@media (max-width: 1000px) {
    .answer__container > img {
        max-width: calc(90vw - 100px);
    }
}

@media (max-width: 550px) {
    .projects__header {
        font-size: 3rem;
    }

    .country__desc > h2 {
        font-size: 2.25rem;
        text-align: center;
    }

    .country__desc > h4 {
        font-size: 1.5rem;
        text-align: center;
    }
}