.organizations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-1);
    color: var(--white);
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
}

.organizations__header {
    font-size: 4rem;
}

.organizations__header__underline {
    height: 5px;
    width: 425px;
    opacity: 0;
    transform: scaleX(0);
    transition: 750ms ease;
    background-color: var(--white);
    margin-bottom: 50px;
    margin-top: 5px;
}

.orgs__visible {
    opacity: 1;
    transform: scaleX(1);
}

.organizations__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    max-width: 950px;
}

.ieee, .ecess {
    width: 420px;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--bg-4);
    transition: 500ms ease;
}

.ieee__logo {
    width: 300px;
    filter: brightness(80%);
    transition: 100ms ease-out;
    margin-bottom: 20px;
}

.ieee > h3, .ecess > h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

.ieee > li {
    list-style: none;
}

.ieee > li > h2, .ecess > h2 {
    font-weight: 500;
    margin: 20px 0px 10px;
    text-decoration: underline;
    text-underline-offset: 3px;
}

.ieee > li > h3, .ecess > h3 {
    font-weight: 400;
}

.ieee__logo:hover, .ecess__logo:hover {
    filter: brightness(100%);
}

.ecess__logo {
    width: 350px;
    filter: brightness(70%);
    transition: 100ms ease-out;
    margin: 10px 0px 39px;
}

@media (max-width: 865px) {
    .organizations__container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .organizations__header {
        font-size: 3rem;
    }

    .organizations__header__underline {
        width: 325px;
    }

    .ieee, .ecess {
        width: 80vw;
    }

    .ieee__logo {
        width: 235px;
    }

    .ecess__logo {
        width: 235px;
        margin-bottom: 25px;
    }
}