.skills {
    background-color: var(--bg-1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills__header {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 4rem;
}

.skills__header__underline {
    height: 5px;
    width: 100%;
    opacity: 0;
    transform: scaleX(0);
    transition: 1s ease;
    background-color: var(--white);
}

.skills__visible {
    opacity: 1;
    transform: scaleX(1);
}

.skills__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 50px;
    margin-bottom: 75px;
    row-gap: 25px;
    column-gap: 400px;
}

.skills__container {
    text-align: center;
    opacity: 0;
    transform: translateX(-50px);
}

.skills__container > h2 {
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}

.skills__container > li {
    margin-top: 5px;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    list-style: none;
    text-align: center;
}

.skills__container > img {
    width: 150px;
}

.js {
    width: 50px;
}

.react__container { transition: 800ms ease; }

.js__container { transition: 800ms ease; }

.c__container { transition: 800ms ease; }

.py__container { transition: 800ms ease; }

.react__anim, .js__anim, .c__anim, .py__anim {
    opacity: 1;
    transform: translateX(0px);
}

@media (max-width: 1000px) {
    .skills__grid {
        column-gap: 150px;
    }
}

@media (max-width: 700px) {
    .skills__header {
        font-size: 2.8rem;
    }
    
    .skills__grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        column-gap: 10px;
    }
}