.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    color: var(--white);
    background: var(--gradient-1);
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: var(--bg-1);
    mask-image: url('../../../public/assets/triangle.svg');
    z-index: 0;
}

.shadow {
    position: absolute;
    top: 0;
    width: 110%;
    box-shadow: 0px -30px 100px 20px black;
}

.contact__header {
    font-size: 4rem;
    margin: 40px 0px;
}

.contact__container {
    display: flex;
}

.contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.media__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 50px;
}

.media__container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 40px 20px;
    margin-bottom: 80px;
    background-color: var(--bg-2);
}

.media__container > div > h3, .contact__container > div > h3 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.contact__email {
    max-width: 550px;
    width: 90vw;
    background-color: var(--bg-2);
    border-radius: 10px;
    padding: 40px 20px;
    margin-bottom: 50px;
    background-color: var(--bg-2);
}

.contact__github, .contact__linkedIn {
    width: 250px;
}

.contact__email > h2 {
    font-size: 2rem;
}

.github__logo {
    width: 100px;
}

.linkedIn__logo {
    width: 100px;
}

.copyright {
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    .contact__container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .contact__header {
        font-size: 3rem;
    }

    .media__container {
        flex-direction: column;
    }

    .contact__email {
        height: 230px;
        margin-bottom: 20px;
    }

    .media__container > div {
        width: 90vw;
        margin-bottom: 20px;
    }
}