*, *::before *::after { box-sizing: border-box; }

.contact {
    background-color: var(--bg-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.contact__header {
    font-size: 4rem;
    padding: 40px 0px;
}

.message__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    max-width: 650px;
    margin-bottom: 80px;
    border-radius: 10px;
    background-color: var(--bg-3);
}

.message__header {
    padding: var(--contact-padding);
    border-radius: 10px 10px 0px 0px;
    background-color: var(--bg-5);
}

.message__header > h3 {
    font-weight: 500;
}

.divider {
    width: 70vw;
    max-width: 605px;
    height: 1px;
    margin: auto;
    background-color: var(--bg-5);
}

.message__recipient {
    display: flex;
    align-items: center;
    padding: var(--contact-padding);
}

.message__recipient > h3 {
    font-weight: 500;
    margin-right: 10px;
}

.message__recipient__email {
    padding: 5px 10px;
    border: 1.5px solid var(--faded-white-2);
    border-radius: 15px;
    transition: 100ms ease;
}

.message__recipient__email:hover {
    background-color: var(--bg-6);
    border: 1.5px solid var(--faded-white-3);
}

.message__author {
    display: flex;
    align-items: center;
    padding: var(--contact-padding);
}

.message__author > h3 {
    font-weight: 500;
    margin-right: 10px;
}

.message__author > input {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    outline: none;
    color: var(--white);
}

.message__subject {
    display: flex;
    align-items: center;
    padding: var(--contact-padding);
}

.message__subject > input {
    width: 100%;
    margin-left: -2.5px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    resize: none;
    outline: none;
    color: var(--white);
}

.message {
    display: flex;
    align-items: center;
    padding: var(--contact-padding);
}

.message > textarea {
    width: 100%;
    height: 300px;
    font-size: 1.2rem;
    margin-left: -2.5px;
    margin-bottom: 10px;
    resize: none;
    border: none;
    outline: none;
    color: var(--white);
    background-color: transparent;
}

.message__actions {
    display: flex;
    align-items: center;
    padding: var(--contact-padding);
}

.message__actions > button {
    width: 100px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-bottom: 10px;
    color: var(--white);
    background-color: var(--accent-magenta);
    transition: 100ms ease;
}

.message__actions > button:hover {
    filter: brightness(105%);
    box-shadow: 0px 0px 3px var(--accent-magenta);
}

.contact__modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 80vw;
    height: 600px;
    padding: 20px;
    border-radius: 30px;
    outline: none;
    background-color: var(--bg-1);
}

.contact__modal > button {
    position: absolute;
    padding: 0;
    top: -5px;
    right: 20px;
    height: 0px;
    font-size: 4rem;
    color: var(--white);
    border: none;
    background-color: transparent;
    transition: 200ms ease;
}

.contact__modal > button:hover {
    color: var(--accent-magenta);
    scale: 1.1;
    transform: translateY(-3px);
}

.ReactModal__Overlay {
    background-color: var(--faded-black) !important;
    z-index: 4;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.animation__container {
    display: flex;
}

.checkmark {
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    width: 300px;
}

.checkmark__cover {
    position: absolute;
    top: 25%;
    right: 50%;
    transform: translate(25%, -50%);
    transform: scale(0);
    width: 350px;
    height: 300px;
    background-color: var(--white);
    transition: 1s all;
    animation: Checkmark 1.5s;
}

@keyframes Checkmark {
    0% { transform: scale(1); width: 300px; }
    20% { transform: scale(1); width: 200px; }
    100% { transform: scale(1); width: 0px; }
}

