.navbar {
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed;
    background-color: var(--main-color);
    color: var(--white);
    z-index: 3;
    transition: 300ms ease;
}

.nav__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.logo__container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px;
    filter: invert();
}

.logo__desc {
    font-size: 2em;
    font-weight: 300;
}

.hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.right__span {
    width: 100%;
    height: 3px;
    background-color: var(--white);
    transition: 300ms ease;
}

.active {
    background-color: var(--main-color-active);
    color: white;
}

.ham__active {
    background-color: var(--white-active);
}