a:link {
    text-decoration: none;
}

.intro {
    background-color: var(--bg-1);
    display: flex;
    padding: 40px 0px;
}

.intro__left {
    flex: 0.5;
    overflow: hidden;
}

.intro__right {
    flex: 0.5;
    position: relative;
    margin: 40px 0px;
}

.image__container {
    position: relative;
    width: 700px;
    height: 700px;
    background-color: var(--accent-magenta);
    border-radius: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    float: right;
}

.me {
    position: absolute;
    width: 1900px;
    bottom: -900px;
}

.intro__right__container {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro__h1 {
    font-size: 60px;
    margin: 10px 0px;
    color: var(--white);
}

.intro__h2 {
    font-size: 35px;
    color: var(--white);
}

.intro__h3 {
    font-size: 30px;
    color: var(--white);
}

.intro__jobs {
    font-size: inherit;
    color: var(--accent-magenta);
}

@keyframes Blink {
    0%, 100% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.9;
    }
}

@media (max-width: 550px) {
    .intro {
        flex-direction: column;
    }

    .intro__h1 {
        font-size: 3.25rem;
    }
    
    .intro__h2 {
        font-size: 2rem;
    }
    
    .intro__h3 {
        font-size: 1.3rem;
    }
}