a:link {
    text-decoration: none;
}

.intro {
    position: relative;
    background-color: var(--bg-1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    margin-top: 50px;
}

.intro__container {
    margin: 0px 20px;
    margin-bottom: 400px;
}

.me__container {
    position: absolute;
    right: 0;
    bottom: -350px;
}

.me2 {
    width: 750px;
    filter: grayscale();
}

.intro__container > h1 {
    font-size: 9rem;
    margin: 10px 0px;
    color: var(--white);
}

.intro__container > h2 {
    font-size: 5rem;
    color: var(--white);
}

.intro__container > h3 {
    font-size: 3rem;
    color: var(--white);
}

.intro__jobs {
    color: var(--accent-magenta);
}

@keyframes Blink {
    0%, 100% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.9;
    }
}

@media (max-width: 550px) {
    .intro {
        flex-direction: column;
    }

    .intro__h1 {
        font-size: 3.25rem;
    }
    
    .intro__h2 {
        font-size: 2rem;
    }
    
    .intro__h3 {
        font-size: 1.3rem;
    }
}