a:link {
    text-decoration: none;
}

.intro {
    position: relative;
    background-color: var(--bg-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    margin-top: 50px;
}

.intro__container {
    margin: 0px 20px;
    z-index: 1;
}

.me__container {
    margin-top: -200px;
}

.me2 {
    width: 750px;
    filter: grayscale();
}

.intro__container > h1 {
    font-size: 7rem;
    margin: 10px 0px;
    color: var(--white);
}

.intro__container > h2 {
    font-size: 4rem;
    color: var(--white);
}

.intro__container > h3 {
    font-size: 2rem;
    color: var(--white);
}

.intro__jobs {
    color: var(--accent-magenta);
}

@keyframes Blink {
    0%, 100% {
        opacity: 0.6;
    }

    50% {
        opacity: 0.9;
    }
}

@media (max-width: 1000px) {
    .me2 {
        max-width: 750px;
        width: 120vw;
        margin-top: 50px;
    }

    .intro {
        flex-direction: column;
    }

    .intro__container > h1 {
        font-size: 10vw;
    }
    
    .intro__container > h2 {
        font-size: 6vw;
    }
    
    .intro__container > h3 {
        font-size: 4vw;
    }
}