* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
  }

.app {
  height: 100vh;
}

.sections {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  top: 70px;
  scroll-snap-type: y;
  scroll-behavior: smooth;
  scrollbar-width: none; /* firefox */
}

.sections > * {
  width: 100vw;
  height: calc(100vh - 70px);
}