* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;

  --main-color: rgb(20, 27, 49);
  --main-color-active: rgb(19, 24, 41);
  --bg-1: rgb(26, 32, 54);
  --bg-2: rgb(30, 38, 65);
  --bg-3: rgb(48, 56, 90);
  --bg-4: rgb(19, 25, 44);
  --bg-5: rgb(58, 67, 106);
  --bg-6: rgb(40, 49, 78);
  --white: white;
  --faded-white: rgba(255, 255, 255, 0.05);
  --faded-white-hover: rgba(255, 255, 255, 0.15);
  --faded-white-2: rgba(255, 255, 255, 0.25);
  --faded-white-3: rgba(255, 255, 255, 0.6);
  --faded-black: rgba(0, 0, 0, 0.6);
  --white-active: rgb(147, 147, 147);
  --accent-magenta: rgb(171, 110, 179);
  --scrollbar: rgba(81, 104, 152, 0.4);
  --scrollbar-hover: rgba(87, 102, 134, 0.6);
  --scrollbar-track: rgb(41, 58, 83);
  --gradient-1: linear-gradient(45deg, rgb(18, 194, 233), rgb(196, 113, 237), rgb(246, 79, 89));

  --contact-padding: 15px 20px;
  --bg-skew-angle: -5deg;
}

body {
  background-color: var(--bg-1);
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-hover);
}

::placeholder {
  color: var(--white);
  opacity: 0.75;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--white);
  -webkit-box-shadow: 0px 0px 0px 100px var(--bg-6) inset;
  transition: background-color 500ms ease-in-out 0s;
}