.AboutMe {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -100px;
}

.AboutMe::after {
    content: '';
    background-image: var(--gradient-1);
    box-shadow: 0px 0px 200px 80px var(--faded-black);
    position: absolute;
    inset: 0;
    transform: skewY(var(--bg-skew-angle));
    z-index: -1;
}

.about__header {
    position: relative;
    font-size: 4rem;
    margin-top: 30px;
    margin-right: 60px;
    color: var(--white);
    rotate: -5deg;
}

.about__header__underline {
    height: 5px;
    width: 200px;
    margin-bottom: 30px;
    margin-right: 50px;
    opacity: 0;
    transform: scaleX(0);
    background-color: var(--white);
    rotate: var(--bg-skew-angle);
    transition: 500ms ease;
}

.about__anim {
    height: 5px;
    width: 200px;
    opacity: 1;
    transform: scaleX(1);
    background-color: var(--white);
}

.main__width {
    display: flex;
    flex-direction: row;
    rotate: -5deg;
}

.main__width > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0px 30px 50px 30px;
    border-radius: 10px;
    background-color: var(--bg-3);
    transition: 250ms ease-out;
}

.main__width > div:hover {
    background-color: var(--bg-6);
}

.main__width > div > img {
    filter: invert();
}

.main__width > div > h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--white);
}

.main__width > div > h4 {
    width: 150px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--white);
}

.art__desc {
    margin-bottom: 0px;
}

.gallery__button {
    cursor: pointer;
    font-size: 1.2rem;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    outline: none;
    border: 1px solid var(--faded-white-3);
    border-radius: 5px;
    color: var(--white);
    background-color: var(--bg-2);
    transition: all 75ms ease;
}

.gallery__button:hover {
    border: 2px solid var(--white);
    background-color: var(--bg-1);
}

.friends {
    transform: translateY(-20px);
}

.friends, .travel {
    width: 150px;
}

.art {
    width: 105px;
}

.travel__label {
    margin-top: 20px;
}

.art__label {
    margin-top: 26px;
}

.travel__image, .art__image {
    margin-bottom: 30px;
}