.AboutMe {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
}

.AboutMe::after {
    content: '';
    background-image: var(--gradient-1);
    box-shadow: 0px 0px 100px 10px var(--faded-black);
    position: absolute;
    inset: 0;
    transform: skewY(var(--bg-skew-angle));
    z-index: -1;
}

.about__header {
    font-size: 4rem;
    margin: 30px 0px;
    margin-right: 65px;
    color: var(--white);
    rotate: -5deg;
}

.main__width {
    display: flex;
    flex-direction: row;
    rotate: -5deg;
}

.main__width > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0px 30px 50px 30px;
    padding-bottom: 0px;
    border-radius: 10px;
    background-color: var(--bg-3);
}

.main__width > div > img {
    filter: invert();
}

.main__width > div > h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--white);
}

.main__width > div > h4 {
    width: 150px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 40px;
    color: var(--white);
}

.friends {
    transform: translateY(-20px);
}

.friends, .travel {
    width: 150px;
}

.art {
    width: 105px;
}

.travel__label {
    margin-top: 20px;
}

.art__label {
    margin-top: 26px;
}

.travel__image, .art__image {
    margin-bottom: 30px;
}

@media (max-width: 710px) {
    .main__width { flex-direction: column; }
}

@media (max-width: 550px) {
    .about__header { font-size: 3rem; }
}